*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    background-color: beige;
    width: 400px;
    height: 700px;
    border-radius: 10px;
    margin-top: 20px;
    line-height: 30px;
}
.heading{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.details{
    margin-left: 8px;
    font-size: 20px;
}
.submitbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.submitbtn input{
    font-size: 30px;
    background-color: chartreuse;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.details input{
    border-width: 0.5px;
    height: 25px;
    width: 384px;
    background-color: white;
    font-size: 20px;
}
#itemphoto{
    height: 30px;
}
